/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 2%;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  flex-direction: row;
  gap: 10%;
  margin: 0 5% 5% 5%;

}

/* ESTILOS GERAIS */
body {
  font-family: Arial, sans-serif;
  background-color: #191919;
  color: #eee;
  text-align: center;
  padding: 20px;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-self: center;
  display: flex;
} 

#control-panel {
  flex: 2;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

/* CANVAS */
#canvas {
  border: 1px solid #333;
  background-color: #000;
  display: block;
  margin: 20px auto;
}

/* LABELS */
#label-container div {
  margin: 5px 0;
  font-weight: bold;
  background-color: #222;
  padding: 10px;
  border-radius: 4px;
}

/* GAME BOARD */
.game-board {
  flex: 3;
  border: 3px solid #0ff;
  background-color: #111;
  color: #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

#gameCanvas{
  border: 1px solid #333;
  background-color: #000;
  display: block;
  margin: 20px auto;
}

button {
  font-family: 'Arial', sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Botão de Start */
.start-btn {
  background-color: #28a745;
  color: white;
  font-weight: bold;

  font-weight: bold;
  font-size: 2rem;
  font-family: Arial, sans-serif;
}

.start-btn:hover {
  background-color: #218838;
  transform: scale(1.05);
}

/* Container do placar */
.score {
  margin-top: 15px;
  font-weight: bold;
  font-size: 2rem;
  font-family: Arial, sans-serif;
}

.score--value {
  font-weight: bold;
  margin-left: 5px;
}


.game-over-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  color: rgb(14, 14, 14);
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  
}

.restart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  font-weight: bold;
  font-size: 1rem;
  font-family: Arial, sans-serif;

  background-color: #940909;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.restart:hover {
  background-color: #7a0707;
  transform: scale(1.05);
}

